name: Build Mod

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew clean jar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: orions-mod-jar
          path: build/libs/orions-mod.jar
